@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
* {
  font-family: 'Roboto Mono', monospace;
 
}




body {
  background: #284370;
}

#sheetOfPaper {
  margin: 0 auto;
  
  height: auto;
  width: 500px;
  background: white;
  margin-bottom: 100px;
  overflow: auto;
}


#toggleAndAdd {
  display: flex;
}

form {
  width: 100%;
}

#addTodoTextInput {
  width: 100%;
  background: black;
  font-size: 2em;
  color: white;
  margin: 0;
  padding: 0;
  border: none;
}

ul {
  padding: 0;
  margin: 0;
  
  
  
}

li {
  padding: 20px 0;
  margin: 20px 90px; 
  list-style-type: none;
  font-size: 2em;
  width: 300px;
  word-wrap: break-word;  /* preventing going out of box in the case of longer word */
  border: 1px solid black;
  
 
}

.checkBoxes{
  margin: 35px 50px 0 40px;
  float: left;
   
  
}


#toggleAllButton {
  width: 20%;
}


.crossed{
  background: gray;
  text-decoration: line-through;
  
}

#deleteAllButton, #deleteSelected{
  display: block;
  margin: 10px auto;
}
 
.editButton{

 
 display: block;
 float: right;
 margin-top: -75px;
 margin-right: 40px; 
}


.blueButton{
  background: blue;
  color: white;
}




.bubble {
	position: absolute;
	background: #00aabb;
  border-radius: .3em;
  /* bottom: 200px; */
  /* left: 450px; */
  width: 300px; 
  font-size: 15px;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

h1{
  color: white;
}